<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">My Blogs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      
    {% block detail %}
    <div class="card text-white bg-primary mb-4" style="max-width: 40rem;margin: 100px;">
        <div class="card-header">{{post_detail.author}}</div>
        <div class="card-body">
          <h4 class="card-title">{{post_detail.title}}</h4>
          <p class="card-text">{{post_detail.content}}</p>
        </div>
      </div>
    {% endblock detail %}

    
</body>
</html>