<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">My Blogs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Create your new Blog Post
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div display="flex">
        <form action="addpost" method='POST'>
            {% csrf_token %}
            
                <label class="col-form-label col-form-label-sm mt-4" for="title">Title</label>
                <input class="form-control form-control-lg" type="text" placeholder="Enter Title" id="title" name="title">
                 
            
                <label class="col-form-label col-form-label-sm mt-4" for="content">Content</label>
                <input class="form-control form-control-lg" type="text" placeholder="Drop your content" id="content" name="content">
             
            
                <label class="col-form-label col-form-label-sm mt-4" for="author">Author</label>
                <input class="form-control form-control-lg" type="text" placeholder="Your Name" id="author" name="author">
                
            <button type="submit" class="btn btn-primary btn-lg">Post</button>
          </form>
      </div>
      
</body>
</html>